{% extends "layout.html" %}
{% block content %}
    <div class="auth-page">
        <form action="", method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">  <!--Username label-->
                    {{form.username.label(class = "form-contol-lable")}}

                    {% if form.username.errors %} <!--checking for error-->
                        {{ form.username(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.username(class = "form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">  <!--email label-->
                    {{form.email.label(class = "form-contol-lable")}}

                    {% if form.email.errors %} <!--checking for error-->
                        {{ form.email(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.email(class = "form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">  <!--password label-->
                    {{form.password.label(class = "form-contol-lable")}}

                    {% if form.password.errors %} <!--checking for error-->
                        {{ form.password(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.password(class = "form-control form-control-lg")}}
                    {% endif %}
                </div>

                <div class="form-group">  <!--confirm_password label-->
                    {{form.confirm_password.label(class = "form-contol-lable")}}

                    {% if form.confirm_password.errors %} <!--checking for error-->
                        {{ form.confirm_password(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{form.confirm_password(class = "form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group"> <!--sign up btn-->
                {{form.submit(class = "btn  submit-btn")}}
            </div>
        </form>
    </div>
{% endblock content %}