body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Navbar*/
.custom-nav{
    background-color: #223b5f;
}
.nav-link,
.navbar-brand{
    color: hsl(0, 0%, 100%);
}

.nav-link:hover,
.navbar-brand:hover {
    color: #7abaff;
}

/*blog post section*/

.media.content-section{
    background-color: rgb(248, 247, 247);
    border: 2px solid #0b213f;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.article-metadata{
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 5px;
    padding: 3px 1px;
    
}
.article-metadata a{
    color: #567a9f;
}
.article-metadata a:hover{
    color: #3A57E8;
}
.article-title{
    color: #2f4a74;
}
.article-title:hover{
    color: #3A57E8
}

.article-content{
    white-space: pre-line;
}

/*Authentication page*/
.auth-page{
    width: 550px;
    margin:auto;
    padding: 20px 30px;
    margin-top: 4em;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(47, 74, 116, 0.3);
}

/*button*/
.submit-btn{
    display: block;
    margin:auto;
    margin-top: 1em;
    background-color: #3A57E8;
    color: white;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
}

.submit-btn:hover{
    background-color: #2f4dcc;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}


.content-section{
    background-color: rgb(248, 247, 247);
    border: 2px solid #0b213f;
    border-radius: 10px;
    max-width: 750px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.account-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.post-img{
    height: 25px;
    width: 25px;
    margin-right: 2px;
    margin-bottom: 8px;
}


.update-btn {
    background-color: #45464a;
    color: white !important;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.8s;
}

.update-btn:hover {
    background-color: #3A3B3F;
}

.delete-btn {
    background-color: #ff0000;
    color: white !important;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.8s;
}

.delete-btn:hover {
    background-color: #e71010;
}


.paginate{
    margin-top: 10px;
    text-align: center;
}
